<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productid" value="<%= product._id.toString() %>">
    <button type="submit" class="border border-[#ff0e36] text-[#ff0e36] px-3 py-2">Add To Cart</button>
</form>