<form action="/cart" method="POST">
    <input type="hidden" name="productid" value="<%= product.id %>">
    <input type="hidden" name="productprice" value="<%= product.price %>">
    <button type="submit" class="border border-[#ff0e36] text-[#ff0e36] px-3 py-2">Add To Cart</button>
</form>