<header>
    <nav class="flex py-6 items-center">
        <div class="logo w-[25%] pl-[100px]">
            <a class="text-3xl logo-text font-bold" href="/">JsNode.</a>
        </div>
        <div class="menu-items w-[40%] mx-[10%] flex justify-evenly">
            <div class="<%= path === '/products'?'nav-active':'' %>"><a href="/products">Products</a></div>
            <div class="<%= path === '/blog'?'nav-active':'' %>""><a href="/blog">Blog</a></div>
            <div class="<%= path === '/careers'?'nav-active':'' %>""><a href="/careers">Careers</a></div>
        </div>
        <div class="account w-[25%] justify-end flex pr-[100px]">
            <% if(session.isLoggedIn) { %>
                <div class="cart-btn mr-8">
                    <a href="/orders">Orders</a>
                </div>
                <div class="cart-btn mr-8">
                    <a href="/cart">Cart</a>
                </div>
                <div>
                    <p>
                        <form action="/user/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Logout</button>
                        </form>
                    </p>
                </div>
            <% } else { %>
                <div class="cart-btn mr-8">
                    <a href="/user/signup">Sign Up</a>
                </div>
                <div class="account-btn">
                    <a class="border rounded border-[#ff0e36] text-[#ff0e36] py-2 px-4" href="/user/login">Log In </a>
                </div>
            <% } %>
        </div>
    </nav>
</header>