<header>
    <nav>
        <ul class="nav-container">
            <li><a class="<%= path == '/'? 'active': '' %>" href="/">Home</a></li>
            <li><a class="<%= path == '/users'? 'active' : '' %> " href="/users">Users</a></li>
        </ul>
    </nav>
</header>