<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Page Not Found</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-screen flex items-center justify-center flex-col ">
    <h1 class="text-[#ff0000] text-xl font-bold">Error! Page Not Found</h1>
    <p class="text-[#ff0000]">Use this to go to <a href='/'> home page</a></p>
</body>
</html>