*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
li,a{
    /* font-weight: 600; */
}
h1, h2, h3, h4, h5{
    font-weight: bold;
}
.active{
    font-weight: 700;
}
.nav-container{
    display: flex;
    list-style-type: none;
}
.nav-container li{
    margin: 20px 5px;
}