<%- include("includes/head.ejs") %>
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <h1>Welcome to User Registration Centre</h1>
    <form action="/user" method="POST">
        <input type="text" name="n" placeholder="enter your name" />
        <input type="text" name="un" placeholder="enter your user name" />
        <input type="submit" value="Register" />
    </form>

<%- include("includes/end.ejs") %>